head
	//- General meta tags
	title Krish Goel · KrishSkywalker
	meta(name="title" content=title)
	meta(name="description" content="Hi, I'm Krish! A technophile and an engineering student from New Delhi. I aspire to develop ‘smarter’ energy sources with the lines I type.")
	meta(name="keywords" content="Krish Goel Skywalker Developer Freelancer Website Web Development Programming Engineering Imagineer New Delhi Coding UX UI Sanskriti School KrishSkywalker")
	meta(name="charset" content="utf-8")
	meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
	meta(name="viewport" content="width=device-width initial-scale=1.0, user-scalable=no")
	meta(name="language" content="English")
	meta(name="author" content="Krish Goel · KrishSkywalker")
	meta(meta name="theme-color" content="#8a7df2")
	meta(name='msapplication-TileColor' content='#8a7df2')
	link(rel='me' href='https://github.com/KrishSkywalker' type='text/html')
	link(rel='me' href='mailto:krishgoel3@gmail.com')

	//- Open Graph Tags
	meta(property="og:type" content="website")
	meta(property="og:url" content="https://krishgoel.com")
	meta(property="og:title" content=title)
	meta(property="og:description" content="Hi, I'm Krish! A technophile and an engineering student from New Delhi. I aspire to develop ‘smarter’ energy sources with the lines I type.")
	meta(property="og:image" src="/images/meta.png")
	meta(property="og:locale" content="en_US")

	//- Twitter Tags
	meta(name="twitter:card" content="summary")
	meta(name="twitter:url" content="http://www.krishgoel.com")
	meta(name="twitter:title" content=title)
	meta(name="twitter:description" content="Hi, I'm Krish! A technophile and an engineering student from New Delhi. I aspire to develop ‘smarter’ energy sources with the lines I type.")
	meta(name="twitter:image" content="/images/twitter_meta.png")

	//- Icons
	link(rel="shortcut icon" type="image/png" href="/images/icons/PNGfavicon.png")
	link(rel='apple-touch-icon' href='/images/icons/apple-touch-icon.png')
	link(rel='apple-touch-icon' sizes='57x57' href='/images/icons/apple-touch-icon-57x57.png')
	link(rel='apple-touch-icon' sizes='72x72' href='/images/icons/apple-touch-icon-72x72.png')
	link(rel='apple-touch-icon' sizes='76x76' href='/images/icons/apple-touch-icon-76x76.png')
	link(rel='apple-touch-icon' sizes='114x114' href='/images/icons/apple-touch-icon-114x114.png')
	link(rel='apple-touch-icon' sizes='120x120' href='/images/icons/apple-touch-icon-120x120.png')
	link(rel='apple-touch-icon' sizes='144x144' href='/images/icons/apple-touch-icon-144x144.png')
	link(rel='apple-touch-icon' sizes='152x152' href='/images/icons/apple-touch-icon-152x152.png')
	link(rel='apple-touch-icon' sizes='180x180' href='/images/icons/apple-touch-icon-180x180.png')
	link(rel='mask-icon' href='/images/icons/safari-pinned-tab.svg')
	link(rel='icon' type='image/png' sizes='180x180' href='/images/icons/apple-touch-icon-180x180.png')
	link(rel='icon' type='image/png' sizes='152x152' href='/images/icons/apple-touch-icon-152x152.png')

	//- JQuery
	script(src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript")

	//-  Font awesome icons
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

	//- Preloading the Gilroy to reduce loadtime and remove the jump transition from Arial UGH
	link(rel="preload" href="/fonts/Gilroy-ExtraBold.ttf" as="font" type="font/ttf" crossorigin="anonymous")

	//- Web sourced fonts, the public folder contains all the fonts, this is to reduce the burden on the server to reduce loadtime
	link(href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet")

	//- Stylesheet
	link(rel="stylesheet" href="/stylesheets/style.css")
	link(rel="stylesheet" href="/stylesheets/lightStyle.css" id="lightSS")
	link(rel="stylesheet" href="/stylesheets/darkStyle.css" id="darkSS")